/* :root {
    --color-links: green !important;
    --color-brand: green !important;
} */

footer > .container {
    justify-content: center !important;
}

#content ul:not(.search) p, #content ul:not(.search) > li {
  margin-top: 0.5rem !important;
}

#content ul:not(.search) {
  margin-top: 1rem !important;
}
